$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-opera: false;

$baseWidth: 320px;
$baseHeight: 480px;
$imgPath: "../img/";

$mainColor: #fff;
$subColor: #eee;
$accentColor: #e73562;
$fontColor: #333;
$noticeColor: #f00;

$linkColor: #fff;
$linkColorVisited: #39f;
$linkColorHover: #00f;
$linkColorActive: #00f;

$yellow: #fbd93c;

$fontfamily: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3", sans-serif;